/* Define a class for the container of each blog post */
.single-blog-area {
    height: 450px; /* Adjust the height as needed */
    overflow: hidden; /* Hide overflowing content */
    margin-bottom: 30px; /* Add some bottom margin for spacing */
}
.cta--text h6,
.cta--text h2,
.cta--text a {
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.7); /* Adjust values as needed */
}
.brands-area {
    background-color: #ffffff; /* White background color */
}